.documents {
	background-color: #171919;
	padding-top: 225px;

	@media (max-width: $md1+px) {
		padding-top: 200px;
	}
	@media (max-width: $md2+px) {
		padding-top: 175px;
	}
	@media (max-width: $md3+px) {
		padding-top: 150px;
	}
	@media (max-width: $md4+px) {
		padding-top: 125px;
	}

	&__content {
	}

	&__title {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 35px;
		font-weight: 900;
		text-align: left;
		margin: 0px 0px 96px 0px;

		@media (max-width: $md1+px) {
			margin: 0px 0px 86px 0px;
			font-size: 33px;
		}
		@media (max-width: $md2+px) {
			margin: 0px 0px 76px 0px;
			font-size: 31px;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 66px 0px;
			font-size: 28px;
		}
		@media (max-width: $md4+px) {
			margin: 0px 0px 56px 0px;
			font-size: 25px;
		}
	}

	&__body {
	}
}
