//====================================================================================================
.popup {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;

	&::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.9);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}
	&.show {
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transform: scale(1);
		}
	}
	&._active {
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: scale(1);
		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	&__body {
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: #fff;
		padding: 50px;
		padding-bottom: 0;
		width: 100%;
		max-width: 1110px;
		z-index: 2;

		@media (max-width: $md1+px) {
			padding: 40px;
			padding-bottom: 0;
		}
		@media (max-width: $md2+px) {
			padding: 30px;
			padding-bottom: 0;
		}
		@media (max-width: $md3+px) {
			padding: 20px;
			padding-top: 40px;
			padding-bottom: 0;
		}
	}
	// .popup__close
	&__close {
		width: 24px;
		height: 24px;
		position: absolute;
		top: 21px;
		right: 21px;
		cursor: pointer;
		z-index: 30;
		background: url("../img/icons/close.svg") 0 0 / contain no-repeat;

		@media (max-width: $md3+px) {
			width: 20px;
			height: 20px;
			top: 14px;
			right: 14px;
		}
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}
//====================================================================================================

.block-popup {
	z-index: 2;

	&__body {
		display: flex;
	}

	&__column {
		&:first-child {
			flex: 0 0 32%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			img {
				max-width: 100%;
				max-height: 590px;
			}
			@media (max-width: $md2+px) {
				display: none;
			}
		}
		&:last-child {
			flex: 0 0 66%;

			@media (max-width: $md2+px) {
				flex: 1 1 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}
		}
	}

	&__right {
		@media (max-width: $md2+px) {
			width: 70%;
		}
		@media (max-width: $md3+px) {
			width: 100%;
		}
	}
}

.info-block-popup {
	background: #171919;
	margin: 0px 0px 25px 0px;

	&__body {
		display: flex;
		flex-direction: column;
		padding: 26px 27px 42px 35px;

		@media (max-width: $md1+px) {
			padding: 23px 24px 38px 24px;
		}
		@media (max-width: $md2+px) {
			padding: 20px 21px 34px 21px;
		}
		@media (max-width: $md3+px) {
			padding: 17px 18px 30px 18px;
			justify-content: center;
		}
		@media (max-width: $md4+px) {
			padding: 14px 15px 26px 15px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 25px;
		line-height: 30px;
		color: #ffc601;
		white-space: nowrap;
		margin: 0px 0px 21px 0px;

		@media (max-width: $md1+px) {
			margin: 0px 0px 19px 0px;
			font-size: 23px;
		}
		@media (max-width: $md2+px) {
			margin: 0px 0px 17px 0px;
			font-size: 21px;
			white-space: normal;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
			font-size: 17px;
		}
		@media (max-width: $md4+px) {
			margin: 0px 0px 13px 0px;
			font-size: 15px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			line-height: 17px;
			text-align: center;

			&_hide {
				display: none;
			}
		}

		span {
			font-weight: normal;
			color: #fff;

			@media (max-width: $md4+px) {
				margin-top: 10px;
			}
		}
	}

	&__text {
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #ffffff;
		margin: 0px 0px 36px 0px;

		@media (max-width: $md1+px) {
			font-size: 14px;
			line-height: 16px;
			margin: 0px 0px 32px 0px;
		}
		@media (max-width: $md2+px) {
			font-size: 13px;
			line-height: 15px;
			margin: 0px 0px 28px 0px;
		}
		@media (max-width: $md3+px) {
			font-size: 12px;
			line-height: 14px;
			margin: 0px 0px 24px 0px;
		}
		@media (max-width: $md4+px) {
			font-size: 11px;
			line-height: 13px;
			margin: 0px 0px 18px 0px;
		}
	}

	&__advantages {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $md4+px) {
			flex-wrap: wrap;
		}
	}

	&__advantages-list {
		display: flex;
		flex-direction: column;
		margin: 0px 15px 0px 0px;
	}

	&__advantages-item {
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #fff;
		padding: 0px 0px 10px 20px;
		display: flex;
		align-items: center;
		position: relative;
		white-space: nowrap;

		@media (max-width: $md4+px) {
			font-size: 13px;
			padding: 0px 0px 10px 15px;
		}

		&._white {
			&::before {
				content: "";
				position: absolute;
				background: url("../img/cars/Rectangle_white.svg") 0 0 no-repeat;
				top: 2px;
				left: 0;
				width: 13px;
				height: 13px;

				@media (max-width: $md4+px) {
					top: 4px;
					width: 10px;
					height: 10px;
				}
			}
		}

		&._yellow {
			&::before {
				content: "";
				position: absolute;
				background: url("../img/cars/Rectangle_yellow.svg") 0 0 no-repeat;
				top: 1px;
				left: 0;
				width: 13px;
				height: 13px;

				@media (max-width: $md4+px) {
					top: 0px;
					width: 10px;
					height: 10px;
				}
			}
		}

		@media (max-width: $md1+px) {
			line-height: 1;
			font-size: 14px;
			padding: 0px 0px 9px 20px;
		}
		@media (max-width: $md2+px) {
			font-size: 13px;
			padding: 0px 0px 9px 20px;
		}
		@media (max-width: $md3+px) {
			font-size: 12px;
			padding: 0px 0px 8px 20px;
		}
		@media (max-width: $md4+px) {
			font-size: 11px;
			padding: 0px 0px 7px 15px;
		}
	}

	&__btn {
		font-weight: 800;
		font-size: 13px;
		line-height: 16px;
		text-align: center;
		color: #171919;
		background: #ffc601;
		padding: 14px 47px;
		margin: 0 auto;

		@media (max-width: $md1+px) {
			line-height: 1;
			font-size: 13px;
			padding: 13px 42px;
		}
		@media (max-width: $md2+px) {
			font-size: 12px;
			padding: 12px 37px;
		}
		@media (max-width: $md3+px) {
			font-size: 11px;
			padding: 11px 32px;
		}
		@media (max-width: $md4+px) {
			font-size: 11px;
			padding: 10px 27px;
			margin-top: 10px;
		}
	}
}
//====================================================================================================

.slider-block-popup {
	margin-bottom: 22px;

	@media (max-width: $md3+px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__slide {
		margin-right: 10px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		img {
			max-width: 100%;
			width: 210px;
			height: 140px;
			object-fit: cover;
			object-position: center;
		}
	}

	&__slide-img {
	}
}
